<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/style.css">
    <title>Spotify Data</title>
</head>
<body>
    <div class="bg">
         <form action="/spotifyauth" method="post">
             <button name="type" class="butt" type="submit" value="shortterm">Short Term</button>
             <button name="type" class="butt" type="submit" value="mediumterm">Medium Term</button>
             <button name="type" class="butt" type="submit" value="longterm">Long Term</button>
        </form>
    </div>
</body>
</html>